html,
body{
	height: 100%;
	width: 100%;
}

.menuBar{
	position: absolute;
	z-index:2;
}

.modesBar{
	padding-top:5%;
	padding-bottom:5%; 
	background:rgb(166,166,166);
}

.modeView{
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
}